.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid tomato;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

:root {
  --accent--color: #2196f3;
  --primery-text-color: #757575;
  --title-text-color: #212121;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
}

.link {
  text-decoration: none;
}

.body {
  color: var(--primery-text-color);
  font-family: Roboto, sans-serif;
}

.address {
  color: #ffffff;
  font-style: normal;
  text-decoration: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.logo-link {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-studio {
  color: #212121;
}

.contact-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
  font-weight: 400;
}

.contact-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.contact-form-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.contact-form-field + .contact-form-field {
  margin-top: 10px;
}

.contact-form-input {
  display: block;
  width: 100%;
  font-size: 16px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}

.contact-form-icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
}

.contact-form-input-wrapper {
  position: relative;
  display: block;
}

.contact-form-message:focus,
.contact-form-input:focus {
  outline: none;
  border-color: var(--accent--color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus + .contact-form-icon {
  fill: var(--accent--color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-message {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
}

.contact-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.contact-form-label-link {
  color: #2196f3;
}

.contact-form-check-policy:checked + .contact-form-policy-label::before {
  background-image: url(../img/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2px;
  border: 1px solid #2196f3;
}

.contact-form-check-policy:focus + .contact-form-policy-label::before {
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2px;
  border: 1px solid #2196f3;
}

.contact-form-policy-label {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.contact-form-policy-label::before {
  display: inline-block;
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  margin-top: 25px;
  margin-right: 10px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.close-svg {
  position: absolute;
  height: 18px;
  width: 18px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}

.hero {
  width: 480px;
  height: 400px;
  padding: 118px 60px;
  background: #c4c4c4;
  text-align: center;
  letter-spacing: 0.06em;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: 480px 400px;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../img/bg/hero-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    width: 768px;
    height: 400px;
    background-size: 768px 400px;
    background-image: url(../img/bg/hero-tablet.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../img/bg/hero-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    width: auto;
    background-size: auto;
    background-image: url(../img/bg/hero-desktop.jpg);
    font-size: 44px;
    line-height: 1.364;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../img/bg/hero-desktop@2x.jpg);
  }
}

.modal-button {
  border: none;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: block;
  align-items: center;
  text-align: center;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  min-width: 200px;
  cursor: pointer;
  outline: none;
}

.modal-button:hover, .modal-button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.feature-section .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 60px;
  padding-right: 15px;
  padding-bottom: 30px;
  padding-left: 15px;
}

.feature-section .container .title {
  display: flex;
  flex-direction: column;
}

.feature-section .container .attention::before {
  content: '';
  width: 100%;
  height: 120px;
  background-image: url(../img/antenna.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature-section .container .attention::before {
  content: '';
  width: 100%;
  height: 120px;
  background-image: url(../img/antenna.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature-section .container .punctuality::before {
  content: '';
  width: 100%;
  height: 120px;
  background-image: url(../img/clock.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature-section .container .planning::before {
  content: '';
  width: 100%;
  height: 120px;
  background-image: url(../img/diagram.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature-section .container .technologies::before {
  content: '';
  width: 100%;
  height: 120px;
  background-image: url(../img/astronaut.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature-section .container .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-section .container .feature-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .feature-list-title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .feature-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .feature-list-item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 4 - 30px);
  }
  .container .title {
    text-align: start;
  }
}

@media screen and (max-width: 1199px) {
  .feature-list-item {
    min-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .feature-list {
    display: flex;
    flex-wrap: wrap;
  }
  .feature-list-item {
    max-width: 270px;
  }
}

@media screen and (min-width: 1200px) {
  .works-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .works-list-item {
    position: relative;
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 3 - 30px);
  }
  .work-description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: rgba(47, 48, 58, 0.8);
    padding: 26px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
  .works-section {
    padding-top: 47px;
    padding-bottom: 94px;
  }
  .section-title {
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
  }
}

@media screen and (max-width: 1199px) {
  .works-section {
    display: none;
  }
}

.section-team {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #f5f4fa;
}

.section-team .container {
  text-align: center;
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 24px;
}

.team-list-item {
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-item:not(:last-child) {
  margin-bottom: 30px;
}

.item-description .title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .team-list-item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 2 - 30px);
    text-align: center;
  }
  .item-description .title {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .section-team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .team-list-item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.section-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.section-clients-item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc(100% / 2 - 30px);
}

.section-clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-clients-link:hover, .section-clients-link:focus {
  border: 1px solid var(--accent--color);
}

.icon-logo {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-clients-link:hover,
.section-clients-link:focus {
  border: 1px solid var(--accent--color);
}

.section-clients-link:hover .icon-logo,
.section-clients-link:focus .icon-logo {
  fill: var(--accent--color);
}

.section-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.178;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .section-clients-item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .section-clients-item {
    flex-basis: calc(100% / 6 - 30px);
  }
}

.portfolio-main {
  background: #ffffff;
  letter-spacing: 0.03em;
}

.projects-section .container {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 15px;
  padding-left: 15px;
}

.projects-list-link {
  display: block;
  border: 1px solid #eeeeee;
}

.projects-name .title {
  text-align: start;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.projects-name {
  padding: 20px 22px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.project-list-img {
  position: relative;
  overflow: hidden;
}

.text {
  color: var(--primery-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

.projects-list-item:not(:last-child) {
  margin-bottom: 30px;
}

.projects-list-link:hover,
.projects-list-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-list-link:hover .overlay,
.projects-list-link:focus .overlay {
  transform: translateY(0%);
}

@media screen and (min-width: 768px) {
  .projects-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .projects-list-item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }
  .projects-name {
    padding: 20px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .projects-section .container {
    padding: 0 auto;
  }
  .projects-list-item {
    flex-basis: calc(100% / 3 - 30px);
  }
  .projects-list-item:not(:last-child) {
    margin-bottom: 0px;
  }
}

.backdrop {
  position: fixed;
  opacity: 1;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms linear;
}

.filter-button {
  border: none;
  padding: 6px 22px;
  background-color: #f5f4fa;
  color: #212121;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover, .filter-button:focus {
  background: #2196f3;
  color: #ffffff;
  border: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-list-item:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 15px;
}

.projects-button-list {
  display: flex;
  flex-wrap: wrap;
}

.filter-button-container {
  padding-top: 60px;
  padding-bottom: 25px;
}

.contact-form-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: block;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 200px;
  height: 50px;
  border: none;
}

.contact-form-btn:hover, .contact-form-btn:focus {
  background-color: #188ce8;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer-input-btn {
  position: relative;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: ackground-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 10px 62px 10px 29px;
  width: 200px;
  height: 50px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.06em;
}

.footer-input-btn:hover, .footer-input-btn:focus {
  background-color: #188ce8;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .filter-button-container {
    padding-top: 60px;
    padding-bottom: 30px;
    justify-content: center;
  }
  .projects-button-list {
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .projects-button-list {
    display: flex;
    justify-content: center;
  }
  .button-list-item:not(:last-child) {
    margin-right: 8px;
  }
  .filter-button-container {
    margin-bottom: 50px;
  }
}

.social-link {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover, .social-list-link:focus {
  background: var(--accent--color);
}

.social-list-link:hover .social-icon,
.social-list-link:focus .social-icon {
  fill: #ffffff;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}
/*# sourceMappingURL=main.css.map */